body {
    margin: 0;
    font-family: Arial;
    background-image: url(rm373batch13-085.jpg);
}


header {
    background: red;
    color: white;
    padding: 10px;
    text-align: center;
}


nav {
    background: gray;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

main {
    padding: 10px;
}


section {
    background: white;
    padding: 10px;
    margin: 10px;
}


footer {
    background: blue;
    color: white;
    text-align: center;
    padding: 10px;
}


table {
    width: 100%;
}

table, th, td {
    border: 1px  black;
}

th, td {
    padding: 5px;
}


input, textarea {
    width: 100%;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    background: blue;
    color: white;
}


nav a:hover {
    background: black;
}


@media (max-width: 768px) {
    nav a {
        display: block;
    }
}