body {
    margin: 0;
    font-family: Arial;
    background-image: url(rm373batch13-085.jpg);
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 14px;
}
.textarea{
    width:"16px"


}

nav {
    background-color: gray;
    text-align: center;
    padding: 5px;
}

nav a {
    color: white;
    margin: 5px;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: grey;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px SOLID BLACK;
}

th, td {
    padding: 8px;
    text-align: center;
}

.form-group {
    margin: 15px 0;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
}

button {
    padding: 13px 20px;
}

footer {
    
    color: white;
    padding: 5px;
    text-align: center;
    
    background-color: blue;
}




@media (max-width: 600px) {

    nav a {
        display: block;
        margin: 10px 0;
    }

    main {
        width: 95%;
        padding: 15px;
    }

    input {
        width: 95%;
    }

    table {
        font-size: 14px;
    }
}